html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.banner{
    text-align: center;
  height:100vh;
  background: url("https://hd.unsplash.com/photo-1461567933755-6c82be2197da") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10em;

  -webkit-animation: zoom 50s;
  animation: zoom 50s;
  
  @-webkit-keyframes zoom {
    from {
    	-webkit-transform: scale(1,1);
    }
    to {
    	-webkit-transform: scale(1.5,1.5);
    }
}

  @keyframes zoom {
    from {
      transform: scale(1,1);
    }
    to {
      transform: scale(1.5,1.5);
    }
  }

  h1{
    font-size: 5.5em;
    margin:0;
    color:#fff;
    padding-bottom: .3em;
  }
}/*banner */